<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="spring-boot-kafka-log"
	packages="org.netlink" strict="true">
	<!-- <Properties>
        <Property name="SERVERS">${sys:bootstrapServers}</Property>
         <Property name="SERVICE_NAME">${sys:serviceName}</Property>
          <Property name="ENVIRONMENT">${sys:environment}</Property>
           <Property name="VERSION">${sys:version}</Property>
    </Properties> -->
    
    
    <Appenders>
		<Kafka name="Kafka" topic="info" ignoreExceptions="false">

			
			<!-- <JSONLayout compact="true" eventEol="true">
				<KeyValuePair key="serviceName" value="${SERVICE_NAME}" />
				<KeyValuePair key="environment" value="${ENVIRONMENT}" />
				<KeyValuePair key="version" value="${VERSION}" />
			</JSONLayout> -->
			<!-- <Property name="bootstrap.servers">${SERVERS}</Property> -->

		</Kafka>
		<Console name="Console" target="SYSTEM_OUT" follow="true"
			ignoreExceptions="false">
			<PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n" />

		</Console>


		<Failover name="FailoverAppender" primary="Kafka"
			retryIntervalSeconds="10" target="SYSTEM_OUT"
			ignoreExceptions="false">
			<Failovers>
				<AppenderRef ref="Console" />
			</Failovers>
		</Failover>
		<Async name="Async" errorRef="Console" blocking="false"
			ignoreExceptions="false">
			<AppenderRef ref="FailoverAppender" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="ACCEPT"
					onMismatch="DENY" />
				<ThresholdFilter level="INFO" onMatch="DENY"
					onMismatch="NEUTRAL" />
			</Filters>
		</Async>

	</Appenders>
	<Loggers>


		<Root level="info" additivity="false">
			<AppenderRef ref="Async" />
		</Root>
	</Loggers>
    
    
</Configuration>